<!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="../../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.min.js"></script>

<script>
(function() {
  function getParam(p) {
    var match = window.location.search.match(new RegExp('[?&]' + p + '=([^&]+)'));
    return match ? match[1] : null;
  }

  var fbclid = getParam('fbclid');
  if (fbclid) {
    var fbc = `fb.1.${Date.now()}.${fbclid}`;
    document.cookie = `_fbc=${fbc}; path=/; max-age=31536000`; // Store for 1 year
  }
})();
</script>

</body>
<!-- Footer -->
 <footer class="page-footer text-center text-md-left unique-color-dark pt-0">

    <div class="top-blue-footer">
      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
            <h6 class="mb-4 mb-md-0 white-text">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a href='https://www.facebook.com/paintelllo'class="p-2 m-2 fa-lg fb-ic ml-0">
              <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
            </a>
            
            <!-- Google + -->
            <a class="p-2 m-2 fa-lg gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
            </a>
            
            <!-- Instagram -->
            <a href='https://www.instagram.com/paintelloo/'class="p-2 m-2 fa-lg ins-ic">
              <i class="fab fa-instagram white-text mr-lg-4"> </i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
          <h6 class="spacing font-weight-bold">
            <strong>Paintello</strong>
          </h6>
          <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Paintello team is proud to be one of the most 
            popular paint companies in the city.</p>
        </div>
        
        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="spacing font-weight-bold">
            <strong>Contact</strong>
          </h6>
          <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Cité Zouaoui, Rue 09 N°01
Les Eucalyptus
Alger, Algeria 16057</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>Support@paintello.uk</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 213 551 47 76 35</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 213 791 67 96 11</p>
        </div>
        <!-- Fourth column -->

      </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
        © 2025 Copyright: Paintello.uk
      </div>
    </div>
    <!-- Copyright -->

  </footer>
<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Footer -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../js/mdb.min.js"></script>
  <script type="text/javascript" src="../../js/magiczoomplus.js"></script>
<script src="https://scripts.sirv.com/sirv.js"></script>
<script src="https://scripts.sirv.com/sirv.nospin.js"></script>
  <script>

// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var imgs = document.getElementsByClassName("myImgLightBox");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
for(let img of imgs){
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
window.onclick= function(event) {
  if (event.target == modal){
    modal.style.display="none";

  } 
}
    
  </script>
 
 
  <script>
    $('.carousel').carousel({
    pause: "false" /* Change to true to make it paused when your mouse cursor enter the background */
});
    // Animation init
    new WOW().init();
  </script>
<script>
 const basePrice = 3300 ;
    let shippingPrice = 0;

    function addToCart() {
      const quantity = document.getElementById('qty').value;

      fetch('/api/cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          price: product.price ,
          quantity: parseInt(quantity)
        })
      })
    }



    function updateShipping() {
      const wilaya = document.getElementById('wilaya').value;
      const costDisplay = document.getElementById('shipping-cost');
      const shippingPrices = {
        "ADRAR": 800,
  "CHLEF": 500,
  "LAGHOUAT": 650,
  "OUM EL BOUAGHI": 550,
  "BATNA": 550,
  "BEJAIA": 500,
  "BISKRA": 600,
  "BECHAR": 750,
  "BLIDA": 300,
  "BOUIRA": 450,
  "TAMANRASSET": 900,
  "TEBESSA": 600,
  "TLEMCAN": 500,
  "TIARET": 500,
  "TIZI OUZOU": 400,
  "DJELFA": 600,
  "JIJEL": 500,
  "SETIF": 550,
  "SAIDA": 500,
  "SKIKDA": 550,
  "SIDI BELABBES": 500,
  "GEULMA": 550,
  "ANNABA": 550,
  "CONSTANTINE": 500,
  "MEDEA": 450,
  "MOSTAGANEM": 450,
  "MESILA": 500,
  "MASCARA": 500,
  "OUERGLA": 700,
  "EL BAYADH": 750,
  "BOUMERDAS": 350,
  "EL TAREF": 600,
  "TINDOUF": 1000,
  "TISSEMSIL": 500,
  "EL OUED": 700,
  "KHENCHLA": 600,
  "SOUK AHRAS": 600,
  "TIPAZA": 350,
  "MILA": 500,
  "AIN DEFLA": 400,
  "NAAMA": 750,
  "AIN TEMOUCHENT": 500,
  "GHARDAIA": 700,
  "RELIZANE": 500,
  "ALGIERS": 300,
  "ORAN": 400,
  "EL MEGHAIAR": 700,
  "EL MENIA": 750,
  "OULED DJELLAL": 650,
  "BENI ABBES": 800,
  "TIMIMOUN": 800,
  "TOUGGOURT": 700,
  "DJANET": 950,
  "IN SALEH": 850,
  "IN GUEZZAM": 1000,
  "BORDJ BADJI MOKHTAR": 950,
  "TARF": 600,
  "ILLIZI": 950,
  "TAMANRASSET": 900
};

      shippingPrice = shippingPrices[wilaya] || 0;

      if (shippingPrice > 0) {
        costDisplay.textContent = `Shipping Cost: ${shippingPrice} DA`;
      } else {
        costDisplay.textContent = '';
      }

      updateTotal();
    }

    function updateTotal() {
      const quantity = parseInt(document.getElementById('qty').value) || 1;
      const total = basePrice * quantity + shippingPrice;
      document.getElementById('total-price').textContent = `Total: ${total.toLocaleString()} DA`;
    }
  </script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/682625d0a2b6be190d3ada7e/1irag7e08';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


</html>
