<header>
  <nav>
    <a href="/">Paintello Pro</a>
    <div>
      <% if (currentUser) { %>
        <span>Hi, <%= currentUser.name %></span>
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </div>
  </nav>
</header>
<hr>


