<%- include ("../partials/header") %>


 <!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Blue Colors</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856aff84a3d222983fe7688">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135987_b23529b174.jpg">
  </div>
  <h2 class="h6 mb-0">BLUEDROP_756P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b93e4a3d222983fe768e">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482180389_5e8774ddf9.jpg">
  </div>
  <h2 class="h6 mb-0">COOLMORA_744P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b9a24a3d222983fe7690">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482263638_167c17c6e5.jpg">
  </div>
  <h2 class="h6 mb-0">FRESHOBLUE_742P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b9eb4a3d222983fe7692">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135862_0261d66c2a.jpg">
  </div>
  <h2 class="h6 mb-0">TWEEDIA_752P</h2>
  </a>
  </li>



  
</ul></div></div></div></div></div>
  
  <%- include ("../partials/footer") %>.
