<%- include ("../partials/header") %>.


<!-- End Meta Pixel Code -->



<!-- Pop-Up here (before footer include) -->
<!-- <div id="giftPopup" class="gift-popup">
  <div class="popup-content text-center">
    <span class="close-btn" onclick="closeGiftPopup()">&times;</span>
    <h4>๐ Hadiya b la flouss!</h4>
    <p>Chri b 5000 DA wla ktar w tl9a bougie parfumรฉe cadeau fโl-package dyalek.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOrj5onlWoyySQQEL57TW9OUAdmaFovWRS8A&s" width="120" alt="Bougie Hdiya">
    <br>
    <a href="/wow" class="btn btn-success mt-2">Ashri Doka</a>
  </div>
</div> -->



    
<% if (successMsg) { %>
  <div class="alert alert-success"><%= successMsg %></div>
<% } %>



<!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Shop by colour</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/yellowv2">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483209243_232f00611a.jpg">
  </div>
  <h2 class="h6 mb-0">Yellow Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/neutral">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484155506_d4ef44d858.jpg">
  </div>
  <h2 class="h6 mb-0">Neutrals Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/greens">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482500350_19c6cfc28d.jpg">
  </div>
  <h2 class="h6 mb-0">Greens Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/pink">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483207460_1e36b3f486.jpg">
  </div>
  <h2 class="h6 mb-0">Pinks Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/blue">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54476907263_52ab998097_c.jpg">
  </div>
  <h2 class="h6 mb-0">Blues Colors</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/coulors/grey">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481397447_9b42e4783b.jpg">
  </div>
  <h2 class="h6 mb-0">Greys Colors</h2>
  </a>
  </li>


  
</ul></div></div></div></div></div>
  <!-- Navigation & Intro -->
<hr class="mt-4">
<div class="container bm-container-md">	
      <a class="d-block h-100 overflow-hidden bm-img-link" href="/paintello" target="_self">
        <picture>
            <img alt="New Wallpaper now in store at B&amp;M." class="w-100 bm-lazyload ls-is-cached lazyloaded"  src="https://live.staticflickr.com/65535/54530845375_805d1da7f5.jpg">
          </picture>
      </a>
      </div>	

       
  <!-- sale content -->
<hr class="mt-4">
<!-- Section: Features v.4 -->
      <section id="features" class="text-center my-5">

        <!-- Section heading -->
        <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
          <strong>Our Service</strong>
        </h2>
</section>

 <div class="container bm-container-md">	
      <a class="d-block h-100 overflow-hidden bm-img-link" href="/power" target="_self">
        <picture>
            <img alt="New Wallpaper now in store at B&amp;M." class="w-100 bm-lazyload ls-is-cached lazyloaded"  src="https://s3.gifyu.com/images/bSimU.png">
          </picture>
      </a>
      </div>	
<hr class="mt-4">
 
<!-- Navigation & Intro -->
  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Sale</h2>
  <ul class="row justify-content-center list-unstyled mb-4">
   

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/clean">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484395216_e110327224.jpg">
  </div>
  <h2 class="h6 mb-0">Satinรฉ Paint</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/furniteur">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484751175_41c6dd91d8.jpg">
  </div>
  <h2 class="h6 mb-0">Vinyl Paint</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/rug">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484598224_b88ac10983.jpg">
  </div>
  <h2 class="h6 mb-0">Onecoat Matt Paint</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/cuisin">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484395221_896db824f8.jpg">
  </div>
  <h2 class="h6 mb-0">My Fixature</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/coat">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484751190_bcae07662f.jpg">
  </div>
  <h2 class="h6 mb-0">Paintello's MAC</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/wow">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54485036715_df1a8141a4.jpg">
  </div>
  <h2 class="h6 mb-0">Paintello's Tile paint</h2>
  </a>
  </li>

  <li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/sale/sample">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54424106620_55363280c4_c.jpg">
  </div>
  <h2 class="h6 mb-0">Samples</h2>
  </a>
  </li>

 
  
</ul></div></div></div></div></div>
 <!-- Navigation & Intro -->


<hr class="mt-4">

<!-- Section: About 1 -->
      <section id="about" class="mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

        <!-- Grid row -->
        <div class="row pt-2 mt-lg-5">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
            <!-- Image -->
        <a class="d-block h-100 overflow-hidden bm-img-link" href="/sale/tool" target="_self">
        <picture>
            <img  src=https://images.prismic.io/johnstones-paint/Z2qXLZbqstJ98z9-_BRAWL-PROJ606-PPG-JSRRetainerMAY2023-01.Intuitive16x9-v2.00_00_10_02.Still010.png?auto=format%2Ccompress&rect=0%2C350%2C1920%2C726&w=2220&h=840" class="img-fluid rounded" alt="My photo" >
          </picture>
<!-- Secion heading -->
            <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s" href="/sale/tool"  >
              <strong>Paint Tools</strong> 
            </h2>

            <!-- Description -->
            <p align="justify" class="grey-text">ููุง ููุณุงุนุฏุชู ูุน ูุตุงุฆุญ ูููุฏุฉ ุนูู ุงูุจุฏุก ูู ูุดุฑูุน ุงูุทูุงุก ุงูุฎุงุต ุจูุ ุจุฏุกูุง ูู ุงูุฃุณุฆูุฉ ุงูุดุงุฆุนุฉ ูุญุชู ููุงุฆู ุงูุชุญูู ูู ุงูุฃุฏูุงุช..</p>
            
      </a>
          
          
</div>
        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: About 1 -->

 

  <!-- sale content -->
      <hr class="mt-4">
       <div class="bm-page">
          <div class="container">
              <div class="row">
              <div class="order-lg-last">
              <div class="mb-4 mb-lg-5 bm-content">

  <h2 class="text-center text-uppercase">Shop by room</h2>
  <ul class="row justify-content-center list-unstyled mb-4">

<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/pink/6856cd8203d002f2019026dd">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483207460_1e36b3f486.jpg">
  </div>
  <h2 class="h6 mb-0">SAPLINGPINK_300P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/yelloow/6856cee603d002f2019026e6">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483123844_144752d2a2.jpg">
  </div>
  <h2 class="h6 mb-0">LITTELYELLOW_164--P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/pink/6856cdd203d002f2019026df">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483127673_8c66470154.jpg">
  </div>
  <h2 class="h6 mb-0">PONPONETTPINK_136P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/pink/6856ce2803d002f2019026e1">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54483127778_b9467fd333.jpg">
  </div>
  <h2 class="h6 mb-0">LITEELPINK_134P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/neutral/6856cf9503d002f2019026eb">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484155241_e080721a64.jpg">
  </div>
  <h2 class="h6 mb-0">ROMAIN_1066P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="neutral/6856cfde03d002f2019026ed">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484348774_499e68bec8.jpg" >
  </div>
  <h2 class="h6 mb-0">RAMIE_1068P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/neutral/6856dda903d002f201902713">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484348799_e2d846208c.jpg" >
  </div>
  <h2 class="h6 mb-0">PRINT_1062P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/neutral/6856dd1403d002f20190270f">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54484155506_d4ef44d858.jpg">
  </div>
  <h2 class="h6 mb-0">SANDLIGHT_972P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/neutral/6856dcd203d002f20190270d">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54484512515_ff20889f4b.jpg" >
  </div>
  <h2 class="h6 mb-0">ZINNIA_1078P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/yelloow/6856cf3603d002f2019026e8">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src=//live.staticflickr.com/65535/54483209243_232f00611a.jpg" >
  </div>
  <h2 class="h6 mb-0">COOLYELLOW_174-P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856aff84a3d222983fe7688">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481135987_b23529b174.jpg" >
  </div>
  <h2 class="h6 mb-0">BLUEDROP_756P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b93e4a3d222983fe768e">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482180389_5e8774ddf9.jpg" >
  </div>
  <h2 class="h6 mb-0">COOLMORA_744P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856c88203d002f2019026bf">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54481290707_f73e099c43.jpg" >
  </div>
  <h2 class="h6 mb-0">FRESHOGREEN_758P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856c8e603d002f2019026c1">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482500420_d33a1c9c1f.jpg" >
  </div>
  <h2 class="h6 mb-0">DROPGREEN_176P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856c94b03d002f2019026c3">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src="https://live.staticflickr.com/65535/54482135126_bdc1a068c5.jpg" >
  </div>
  <h2 class="h6 mb-0">BRIGDE_1188P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856c9ab03d002f2019026c5">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482500685_f25f402b5b.jpg">
  </div>
  <h2 class="h6 mb-0">BLUSHGREEN_152P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856ca0c03d002f2019026c7">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482135326_76287a4b39.jpg">
  </div>
  <h2 class="h6 mb-0">SAPLINGGREEN_750P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/green/6856cafa03d002f2019026cd">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482500350_19c6cfc28d.jpg" >
  </div>
  <h2 class="h6 mb-0">GARDEN_1198P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b9eb4a3d222983fe7692">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54481135862_0261d66c2a.jpg">
  </div>
  <h2 class="h6 mb-0">TWEEDIA_752P</h2>
  </a>
  </li>
<li class="col-6 col-sm-4 col-md-3">
  <a class="d-block mt-4 text-center text-dark" href="/blue/6856b9a24a3d222983fe7690">
  <div class="mb-1 px-2">
  <img  class="border img-fluid rounded bm-lazyload lazyloaded" data-src="//cdn.bmstores.co.uk/images/dmCategory/thumbnailImageResponsive/wallpaper5.jpg" width="160" height="160" src= "https://live.staticflickr.com/65535/54482263638_167c17c6e5.jpg">
  </div>
  <h2 class="h6 mb-0">FRESHOBLUE_742P</h2>
  </a>
  </li>


</ul></div></div></div></div></div>


 <!-- Section: About 1 -->
      <section id="about" class="mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">

        <!-- Grid row -->
        <div class="row pt-2 mt-lg-5">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
            <!-- Image -->
            <img src="https://images.prismic.io/johnstones-paint/ZvqoRLVsGrYSwJEi_Dyrup_Bedroom01.tif?auto=format%2Ccompress&rect=0%2C1003%2C6000%2C2270&w=2220&h=840" class="img-fluid rounded" alt="My photo">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

            <!-- Secion heading -->
            <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
              <strong>Paint Colour Trends</strong>
            </h2>

            <!-- Description -->
            <p align="justify" class="grey-text">ุชุตูุญ ูุตุต ุงุชุฌุงูุงุชูุง ููุญุตูู ุนูู ุงูุฅููุงู ุญูู ููููุฉ ุงุณุชุฎุฏุงู ุงูุฃููุงู ูุงูุฌูุน ุจูููุง ูุฅูุดุงุก ุบุฑู ุฐุงุช ุดุฎุตูุฉ..</p>
            
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: About 1 -->
 
<!-- Section: Features v.4 -->
      <section id="features" class="text-center my-5">

        <!-- Section heading -->
        <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
          <strong>Awesome features</strong>
        </h2>

        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum
          dolores reiciendis
          ad voluptas, animi obcaecati adipisci sapiente mollitia.</p>

        <!-- Grid row -->
        <div class="row wow fadeIn" data-wow-delay="0.2s">

          <!-- Grid column -->
          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
               <i class="fas fa-brush"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Interior Paint</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">ุชูุตูู ุฏูุงูุงุชูุง ุงูุฏุงุฎููุฉ ุฎุตูุตูุง ููุฌุฏุฑุงู ูุงูุฃุณูู ูุงูุฃุณุทุญ ุงูุฏุงุฎููุฉ. ุงุฎุชุฑ ุฏูุงูุงุช ุงูุฌุฏุฑุงู ูุงูุฃุณูู ูุฅูุดุงุก ูุฌููุนุงุช ุฃููุงู ูุฑูุฏุฉุ ุฃู ุงุชุฑู ุงูุทุจุงุนูุง ูููุฒูุง ูู ุฎูุงู ุงูุฌุฏุฑุงู ูุงูุฃุณูู ุงููููุฒุฉ. ูู ุชุจุญุซ ุนู ุดูุก ุฃูุซุฑ ูุชุงูุฉุ ูุฏููุง ุฏูุงูุงุช ูููุทุจุฎ ูุงูุญูุงูุงุช ูุทูุงุก ูุงุจู ููุบุณู ูุชูุงุณุจ ูุชุทูุจุงุชู ุงููุญุฏุฏุฉ. ุงุฎุชุฑ ูู ุจูู ุฃูุซุฑ ูู 2000 ููู ูุงุนุซุฑ ุนูู ุงูุทูุงุก ุงููุซุงูู ูู ุงูููู..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-fill-drip"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Facade Paint</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">ุฌููุฒ ุญุฏููุชู ุจูุฌููุนุฉ ุงูุฏูุงูุงุช ุงูุฎุงุฑุฌูุฉ ูุฏููุง. ุฃุถู ุงูุญูุงุฉ ุฅูู ุณูููุฉ ููุฒูู ุจูุฌููุนุฉ ุฃููุงู ุงูุญุฏุงุฆู ูุฏููุงุ ุฃู ุงุณุชูุดู ูุฌููุนุชูุง ูู ุงูุฏูุงูุงุช ุงูุฎุงุฑุฌูุฉ ูุฃุณูุงุฑู ูุจูุงุจุงุชู ูุบูุฑูุง ูู ุงูุฃุณุทุญ ุงูุฎุงุฑุฌูุฉ. ูู ุชุจุญุซ ุนู ุทูุงุก ุงูุฌุฒุก ุงูุฎุงุฑุฌู ูู ููุฒููุ ุงุณุชูุดู ุงูุจูุงุก ุงูุฃููุณ ูุฃุถู ุฃุณููุจูุง ุฅุจุฏุงุนููุง ุฅูู ุงูุฎุงุฑุฌ..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-paint-roller" href="/sale/tool"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Paint Tools</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">ุณูุณูุฉ ูู ุงููุนูููุงุช ูุงูุชูููุญุงุช ูุงููุตุงุฆุญ ุงููููุฏุฉ ููุณุงุนุฏุชู ุนูู ุงูุจุฏุก ูู ูุดุฑูุน ุงูุทูุงุก ุงูุฎุงุต ุจูุ ุจุฏุกูุง ูู ุงูุฃุณุฆูุฉ ุงูุดุงุฆุนุฉ ูุญุชู ููุงุฆู ุงูุชุญูู ูู ุงูุฃุฏูุงุช..</p>
              </div>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Features v.4 -->

  </main>
  <!-- Main content -->
<script>
  function closeGiftPopup() {
    document.getElementById('giftPopup').style.display = 'none';
  }
  window.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => {
      document.getElementById('giftPopup').style.display = 'block';
    }, 4000);
  });
</script>

  <%- include ("../partials/footer") %>.
