<%- include ("../partials/header") %>.



<Body>
                      <!-- Body -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8PWQM45"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Main content -->
  <main>

    <div class="bm-page">
      <div class="container">
      <div class="mb-5 bm-content">
      <h1 class="text-center text-uppercase" id="bm-main" tabindex="-1">Returns Policy</h1>
      <hr class="my-4">
      <h2 class="text-body"><strong>Satisfaction totale garantie </strong></h2>
      <h4>Si vous n'êtes pas satisfait d'un achat que vous effectuez dans nos magasins, il vous suffit de le retourner dans son état d'origine, avec une preuve d'achat, dans les 10 jours et nous vous rembourserons intégralement ou vous remplacerons. Les clients sont informés que les remboursements et les notes de crédit ne seront accordés que sur présentation d'une preuve d'achat (reçu, relevé de carte de crédit, etc.). Pour bénéficier d'un remboursement ou d'un remplacement, les produits doivent être complets avec tous les composants et l'emballage d'origine.</h4>
      <h3 class="text-body">Des conditions s'appliquent à certains produits ::</h3>
      <h4>Les remboursements et les échanges ne peuvent pas être accordés contre les jeux audio/DVD et les jeux informatiques. Si l'un de ces produits s'avérait défectueux, il peut être retourné avec votre reçu dans les 10 jours et nous l'échangerons contre un produit du même titre.
 
        Produits alimentaires ou boissons indésirables - Une fois les conditions d'approvisionnement rompues, un certain nombre de facteurs indépendants de notre volonté peuvent affecter la qualité d'un produit. Par conséquent, les denrées périssables telles que la nourriture et les boissons ne peuvent pas être retournées.
         
        Pour des raisons d'hygiène et de sécurité, les produits de toilette, les cosmétiques ou les vêtements intimes ne peuvent être retournés.
         
        Les matelas, surmatelas, couettes et oreillers ne peuvent être retournés que s'ils n'ont pas été utilisés, dans leur emballage d'origine et en état de revente.</h4>
      </div>
      </div>
      </div>
  


  </main>
  <!-- Main content -->
</Body>
  <!-- Footer -->
  <%- include ("../partials/footer") %>.
 
